
	<div class="buttons-bar">
		<input type="image" src= "/assets/addclient_button.png" class="add-client"> </input> 
		<input type="image" src= "/assets/addpricing_button.png" class="add-pricing"> </input> 
		<input type="image" src= "/assets/clients_button.png" id="js-getclients"></input> 
		
		<div class="slider closed" id="slider">
			<img src= "/assets/projects_button.png" id="js-projects-button">
		</div>	
	</div>


<div class="projects-slider closed" id="projects-slider" data-client="<%=@client.id%>"> 
	<div class="project-whiteDiv">
		<ul  class="user-clients-projects">
		</ul>
	</div>
</div>


<div class="project-main-display-slider closed" id="project-main-display-slider">
	<div class="project-info">

	</div>
	
	<div class="imagesDiv">
		<div class="image-upload-form-div">
		</div>
		<div class="thumbnailGalleryDiv">
		
		</div>
	</div>

	<div class="commentsDiv">
	</div>
</div>

<div class = "clients-text">

			<ul id = "js-clients">
			</ul>
</div>


<div class="bottom-nav-bar">
	<input type="image" src= "/assets/logout_button.png" class="logout"> </input> 
</div>


<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 70%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align: center;">Preview</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


