
	<div class="buttons-bar">
		<input type="image" src= "/assets/addclient_button.png" class="add-client"> </input> 
		<input type="image" src= "/assets/addpricing_button.png" class="add-pricing"> </input> 
		<input type="image" src= "/assets/clients_button.png" id="js-getclients"></input> 
		
		<div class="slider closed" id="slider">
			<img src= "/assets/projects_button.png" id="js-projects-button">
		</div>	


	</div>


<div class="projects-slider closed" id="projects-slider" data-client="<%=@client.id%>"> 
	<div class="project-whiteDiv">
		<ul  class="clients-projects">
		</ul>
	</div>
</div>

<div class="project-main-display-slider" id="project-main-display-slider">
	<div class="project-info">

	</div>
</div>


<!-- 			<h3 id="welcome"> Welcome, <%= @user.name %> </h3> 
 -->
<div class = "clients-text">

			<ul id = "js-clients">
			</ul>
</div>

<div class="bottom-nav-bar">
	<input type="image" src= "/assets/logout_button.png" class="logout"> </input> 
</div>


