/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html{
	/*height:100%;*/
	background: linear-gradient(to bottom right, #ecedef, #c1c4c5); 
}
body {
	font-color:#666667;
	max-width: 100%;
	max-height: 100%;
	clear: both;
	font-family: 'Futura Std';
	src: url('future.eot'); 
	background-color:transparent;
}


/*.container-fluid {
	margin-top: 20px;
	margin-bottom: 10px;

}*/
.center-block {
display:block;
margin-left:auto;
margin-right:auto;
/*margin-bottom: 25px;*/
width:35%;
}
.padding-logo{
	padding-top:20px;
	padding-bottom:20px;
	position:relative;
}
.display-board{
	/*z-index:1;*/
	width:100%;
	height:100%;
	/*position: absolute;*/
	/*display: block;*/
	/*margin-left: 17%;*/
	/*margin-right: auto;*/
	/*margin-bottom: 25px;*/
	/*margin-top: -11px;*/
	/*width: 50%;*/
}
.bar{
	z-index: 30;
	mix-blend-mode: multiply;
	position: absolute;
	margin-top: 11px;
	width: 100%;
}
.board-container{
	height: 534px;
}
footer{
	background-color:white;
	margin-top:20px;
	padding:25px;
}
/*footer{
position: relative;
display: block;
width: 100%;
margin: 0 auto;
z-index: 100;
box-sizing: border-box;
bottom: -442px;
}*/

.footer-inner{
	position: relative;
}

.clearfix {
	display: block;
}

.footer-top-holder{
	background-color: white;

}
.column-bar{
	/*border-right:1px solid black;*/
	height: 100%;
}

/*.container {
	padding: 0;
	width: 100%;
	z-index: 100;
	position: relative;
}*/

.container-inner {
	margin: 0 auto;
	position: relative;
	padding: 65px 0 57px;
}


.three-columns-inner {
	margin: 0 -40px;
}

.column{
	border-right: 1px solid #666667;
	width: 33.33%;
	float: left;
}


.column-inner {
	padding: 0 40px;
}

.widget {
	margin: 0;
}

.logo {
	width:100%;
	margin-bottom:20px;
	/*max-width: 332px;*/
	/*margin-bottom: 14px;*/
	/*height: auto;*/
}
.padding-image{

	padding: 0 20px;
}

.footer-widget-title {
	color: #666667;
	text-align: center;

}

.menu {
	font-size: 14px;
	color: #666667;
	text-align: center;
}


 


