// Place all the styles related to the client_views controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .buttons-bar{
    z-index: 10;
    display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-bottom: 25px;
    width: 50%;
    position: relative;
    margin-top: -11px; 
 }


 .slider {
 	z-index: 10;
 	display: inline-block;
 	position: relative;
	margin-left: 5px;


 }

.newproject-form {
	z-index: 9;
	position: relative;
	width: 50%;
	margin: 0 auto;
	margin-top: -2%;
	background: white;
    border-radius: 25px;
    text-align: center;
	
}
.form-control {
	height: 25px;
}

.add-type {
	margin-bottom: 5px;
}
.headline {
	color: #666667;
	font-size: 30px;
	font-weight: bolder;
}

#js-name {
	width: 60%;
	 border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0 1px;
	padding: 5px;
	margin-bottom: 10px;
}

#js-description {
	width: 60%;
	height: 80px;
	 border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0 1px;
	padding: 5px;
	margin-bottom: 10px;

}

#js-due_date {
	width: 60%;
	 border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0 1px;
	padding: 5px;
	margin-bottom: 10px;
}

#js-submit {
	width: 60%;
	 border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
	padding: 5px;
}


#js-one-dropdown {
	display: block;
	margin: 0 auto;
}

 .new-project-slider {
 	display: inline-block;
 }

 .add-type:hover {
	 cursor: pointer;
     color: #3b4ba0;
     text-decoration:underline;
}

.client-projects-slider.closed {
	max-height: 0;
}

 .client-projects-slider {
 	z-index: 15;
 	display: inline-block;
 	position: absolute;
 	background-image: url("/assets/client_projects_slideout.png");
 	width: 563px;
 	height: 452px;
 	top: 211px;
 	left: 45%;
 	overflow-y: hidden;
	max-height: 452px; /* approximate max height */
	margin-left: 5px;

	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: ease-out;
 }

  .project-whiteDiv{
 	width: 80%;
    background-color: white;
    height: 64%;
    margin-left: 10%;
    margin-top: 20%;
	border-radius: 25px;
    border-color: grey;
    overflow-y: scroll;
 }

 #js-client-projects-close {
    position: absolute;
    float: left;
    top: 28%;
    left: 82%;
    opacity: 0.5;
 }

 .clients-projects {
 	margin-top: 4%;
 	color: #666667;
 	position: absolute;
 	z-index: 150;
 }

  .js-one-project:hover {
	 cursor: pointer;
     color: #3b4ba0;
     text-decoration:underline;
}

 #js-client-project-main-close {
    position: absolute;
    top: 22%;
    right: 40%;
    z-index: 250;
    opacity: 0.5;
 }

.client-project-main-display-slider.closed {
	max-height: 0;
}

.client-project-main-display-slider {
	z-index: 15;
 	position: absolute;
 	background-image: url("/assets/client_display_board.png");
 	display: block;
	width: 968px;
	height: 535px;
    margin-left: 17%;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: -29%; 
    overflow-y: hidden;
	max-height: 535px; /* approximate max height */

	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: ease-out;
}

.project-info {
	 height: 35%;
	overflow-y: scroll;
    border-radius: 25px;
    z-index: 220;
 	background-color: white;
    position: relative;
    width: 58%;
    margin-left: 3%;
    margin-top: 11%;
    float: left;
    color: #666667;
	display: block;
}

.container-space{
	height: 5%;
}

.info-content {
    position: relative;
    clear: both;
    margin: 2px 10px 0px 10px;
    min-width: 94%;
    color: #666667;
}

.infoFieldLabel {
	float: left;
    width: 20%;
    position: relative;
    padding: 0px 0px 0px 0px;
    text-align: right;
    vertical-align: middle;
    color: #666667;
}

.client-infoTitle{
	font-size: 20px;
    margin-left: 40%;
    color: #666667;
    text-align: left;
    margin-top: 1%;
}

.BoldText {
	font-weight: bold !important;
	color: #666667;
}

.infoResponse {
	margin-left: 150px;
	color: #666667;
}

.save-status:hover {
	cursor: pointer;
    color: #3b4ba0;
    text-decoration:underline;
    display: inline;
}

.clientsCommentsDiv{
    background: white;
    width: 93%;
    height: 34%;
    display: inline-block;
    margin-top: 15px;
    margin-left: 3%;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;

}

 .bottom-nav-bar {
 	position: relative;
    float: right;
    bottom: -371px;
    z-index: 100;
 }

