// Place all the styles related to the client_views controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .buttons-bar{
    z-index: 10;
    display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-bottom: 25px;
    width: 50%;
    position: relative;
    margin-top: -11px; 
 }




 .slider {
 	z-index: 10;
 	display: inline-block;
 	position: relative;
	margin-left: 5px;


 }




.newproject-form {
	z-index: 9;
	position: relative;
	width: 50%;
	margin: 0 auto;
	margin-top: -15px;
	
}

.add-type {
	margin-bottom: 5px;
}
.headline {
	color: #666667;
}

#js-name {
	width: 60%;
	 border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
	padding: 10px;
	margin-bottom: 10px;
}

#js-description {
	width: 60%;
	height: 80px;
	 border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
	padding: 10px;
	margin-bottom: 10px;

}

#js-due_date {
	width: 60%;
	 border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
	padding: 10px;
	margin-bottom: 10px;
}

#js-submit {
	width: 60%;
	 border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
	padding: 10px;
}


#js-one-dropdown {
	display: block;
}

 .new-project-slider {
 	display: inline-block;
 }

 .add-type:hover {
	 cursor: pointer;
     color: #3b4ba0;
     text-decoration:underline;
}

.projects-slider.closed {
	max-height: 0;
}

 .projects-slider {
 	z-index: 100;
 	display: inline-block;
 	position: absolute;
 	background-image: url("/assets/projects_slideout.png");
 	width: 563px;
 	height: 452px;
 	top: 211px;
 	left: 45%;
 	overflow-y: hidden;
	max-height: 452px; /* approximate max height */
	margin-left: 5px;

	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: ease-out;
 }

 .clients-projects {
 	margin-top: 122px;
 	color: #666667;
 	position: absolute;
 	z-index: 150;
 }

  .js-one-project:hover {
	 cursor: pointer;
     color: #3b4ba0;
     text-decoration:underline;
}

.project-main-display-slider {
	z-index: 10;
 	position: absolute;
 	// background-image: url("/assets/display_board.png");
 	display: block;
	width: 968px;
    height: 535px;
    // margin-left: 17%;
    // margin-right: auto;
    // margin-bottom: 25px;
    // margin-top: -456px;
}

.project-info {
	display: block;
}
.info-content {
    position: relative;
    clear: both;
    margin: 2px 10px 0px 10px;
    min-width: 94%;
}

.infoFieldLabel {
	float: left;
    width: 20%;
    position: relative;
    padding: 0px 0px 0px 0px;
    text-align: right;
    vertical-align: middle;
}

.BoldText {
	font-weight: bold !important;
}

.infoResponse {
	margin-left: 200px;
}

