// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .container {
// 	height: 158px;
// 	left: 50%;
// 	right: 50%;
// 	margin-top: -10px;
// 	z-index: 9;
// }

 .buttons-bar{
    z-index: 20;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: -11px;
 }

 #new-project-slider {
 	display: inline-block;
 }



 .project-whiteDiv{
 	width: 80%;
    background-color: white;
    height: 64%;
    margin-left: 10%;
    margin-top: 20%;
	border-radius: 25px;
    border-color: grey;
    overflow-y: scroll;
 }

 #js-projects-close {
 	position: absolute;
    float: left;
    top: 28%;
    left: 82%;
    opacity: 0.5;
 }

 .clients-text {
 	z-index: 8;
 	visibility: hidden;
 	display: block;
 	position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: -15px;
    width: 50%;
    background-color: white;
    height: 357px;
    left: 367px;
    border-radius: 25px;
    border-color: grey;
    overflow-y: scroll;
 }

 #js-clients{
 	z-index: 10;
 	color: #666667;
 	margin-top: 23px;
 	list-style-type: none;


 }

.js-one-client:hover {
	 cursor: pointer;
     color: #3b4ba0;
     text-decoration:underline;
}


 #welcome {
 	z-index: 10;
 	position:relative;
 	color: #666667;
 }

 .slider.closed {
	max-height: 0;
}


 .slider {
 	z-index: 10;
 	display: inline-block;
 	position: absolute;
 	overflow-y: hidden;
	max-height: 158px; /* approximate max height */
	margin-left: 5px;

	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: ease-out;
 }

.projects-slider.closed {
	max-height: 0;
}

 .projects-slider {
 	z-index: 15;
 	display: inline-block;
 	position: absolute;
 	background-image: url("/assets/user_projects_slideout.png");
 	width: 563px;
 	height: 452px;
 	top: 211px;
 	left: 44%;
 	overflow-y: hidden;
	max-height: 452px; /* approximate max height */
	margin-left: 5px;

	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: ease-out;
 }
 .projects{
    width: 80%;
    background-color: white;
    height: 291px;
    overflow: scroll;
    border-radius: 25px;
    border-color: grey;
    margin-left: 10%;
    margin-top: 19%;

 }

 .user-clients-projects {
 	width: 60%;
 	margin-top: 5%;
 	color: #666667;
 	position: absolute;
 	height: 100%;
 	overflow: scroll;
 	position:relative;
 }

  .js-user-one-project:hover {
	 cursor: pointer;
     color: #3b4ba0;
     text-decoration:underline;
}

 #js-project-main-close {
 	position: absolute;
    top: 22%;
    right: 40%;
    z-index: 250;
    opacity: 0.5;
 }
 
 .project-main-display-slider.closed {
	max-height: 0;
}

 .project-main-display-slider {
	z-index: 15;
 	position: absolute;
 	background-image: url("/assets/user_display_board.png");
 	display: block;
	width: 968px;
	height: 535px;
    margin-left: 17%;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: -9%;
    overflow-y: hidden;
	max-height: 535px; /* approximate max height */

	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: ease-out;
}

 .project-info{
    height: 35%;
	overflow-y: scroll;
    border-radius: 25px;
    z-index: 220;
 	background-color: white;
    position: relative;
    width: 58%;
    margin-left: 3%;
    margin-top: 11%;
    float: left;
    color: #666667;
	display: block;

 }

.container-space{
	height: 2%;
}

.info-content {
    position: relative;
    clear: both;
    margin: 2px 10px 0px 10px;
    min-width: 94%;
    color: #666667;
}

.infoFieldLabel {
	float: left;
    width: 24%;
    position: relative;
    padding: 0px 0px 0px 0px;
    text-align: right;
    vertical-align: middle;
    color: #666667;
}

.infoTitle{
	font-size: 20px;
    margin-left: 40%;
    color: #666667;
}

.BoldText {
	font-weight: bold !important;
	color: #666667;
}

.infoResponse {
	margin-left: 150px;
	color: #666667;
}

.save-status:hover {
	cursor: pointer;
    color: #3b4ba0;
    text-decoration:underline;
    display: inline;
}

.imagesDiv {
    height: 35%;
    background-color: white;
    border-radius: 25px;
    width: 33%;
    float: right;
    margin-top: 11%;
    margin-right: 4%
}

.infoThumbnail {
	margin-left: 28%;
	color: #666667;
}

.btn-default{
	width: 80%;
	margin-left: 9%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
  
    outline: none;
    background: white;

}
.upload-submit {
	width: 76%;
	 border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
	margin-left: 11%;
}

.thumbnailGalleryDiv{
	padding: 1%;
    text-align: center;
}

.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.btn-default {
    width: 80%;
}

.modal-close {
    margin-left: 0;
}

.commentsDiv{
	background: white;
    width: 93%;
    height: 34%;
    display: inline-block;
    margin-top: 15px;
    margin-left: 3%;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;

}

.comments-table {
	width: 91%;
	margin: 0 auto;
	border-collapse: collapse;
	margin-top: 0.5%;
}

.table-top-row {
	background-color: #aeafaf;
	height: 25px;
}
.next-row{
	height: 25px;

}

.next-row td {
    padding: 2px 6px !important;
    border: 1px #aeafaf solid !important;
}

#comments-id {
	width: 95%;
    margin: 4px;
}
.insert-comment:hover {
	cursor: pointer;
    color: #3b4ba0;
    text-decoration:underline;
}

 .bottom-nav-bar {
 	position: relative;
    float: right;
    bottom: -371px;
    z-index: 100;
 }








