// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .container {
// 	height: 158px;
// 	left: 50%;
// 	right: 50%;
// 	margin-top: -10px;
// 	z-index: 9;
// }

 .buttons-bar{
    z-index: 20;
    display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-bottom: 25px;
    width: 50%;
    position: relative;
    margin-top: -11px;
 }

 .project-whiteDiv{
 	width: 80%;
    background-color: white;
    height: 64%;
    margin-left: 10%;
    margin-top: 20%;
	border-radius: 25px;
    border-color: grey;
    overflow-y: scroll;
 }

 .clients-text {
 	z-index: 8;
 	visibility: hidden;
 	display: block;
 	position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: -15px;
    width: 50%;
    background-color: white;
    height: 357px;
    left: 367px;
    border-radius: 25px;
    border-color: grey;
    overflow-y: scroll;
 }

 #js-clients{
 	z-index: 10;
 	color: #666667;
 	margin-top: 23px;
 	list-style-type: none;


 }

.js-one-client:hover {
	 cursor: pointer;
     color: #3b4ba0;
     text-decoration:underline;
}


 #welcome {
 	z-index: 10;
 	position:relative;
 	color: #666667;
 }

 .slider.closed {
	max-height: 0;
}


 .slider {
 	z-index: 10;
 	display: inline-block;
 	position: absolute;
 	overflow-y: hidden;
	max-height: 158px; /* approximate max height */
	margin-left: 5px;

	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: ease-out;
 }

.projects-slider.closed {
	max-height: 0;
}

 .projects-slider {
 	z-index: 15;
 	display: inline-block;
 	position: absolute;
 	background-image: url("/assets/projects_slideout.png");
 	width: 563px;
 	height: 452px;
 	top: 211px;
 	left: 44%;
 	overflow-y: hidden;
	max-height: 452px; /* approximate max height */
	margin-left: 5px;

	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: ease-out;
 }
 .projects{
    width: 80%;
    background-color: white;
    height: 291px;
    overflow: scroll;
    border-radius: 25px;
    border-color: grey;
    margin-left: 10%;
    margin-top: 19%;

 }

 .clients-projects {
 	margin-top: 5%;
 	color: #666667;
 	position: absolute;
 	height: 100%;
 	overflow: scroll;
 	position:relative;
 }
 
 .project-main-display-slider.closed {
	max-height: 0;
}

 .project-main-display-slider {
	z-index: 15;
 	position: absolute;
 	background-image: url("/assets/display_board.png");
 	display: block;
	width: 968px;
    margin-left: 17%;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: -9%;
    overflow-y: hidden;
	max-height: 535px; /* approximate max height */

	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: ease-out;
}

 .project-info{
    height: 35%;
    border-radius: 25px;
    z-index: 220;
 	background-color: white;
    position: relative;
    width: 58%;
    margin-left: 3%;
    margin-top: 11%;
    float: left;
 }

 .project-info {
	display: block;
}

.container-space{
	height: 10%;
}
.info-content {
    position: relative;
    clear: both;
    margin: 2px 10px 0px 10px;
    min-width: 94%;
}

.infoFieldLabel {
	float: left;
    width: 24%;
    position: relative;
    padding: 0px 0px 0px 0px;
    text-align: right;
    vertical-align: middle;
}

.BoldText {
	font-weight: bold !important;
}

.infoResponse {
	margin-left: 150px;
}

.save-status:hover {
	cursor: pointer;
    color: #3b4ba0;
    text-decoration:underline;
}

.imagesDiv {
    height: 35%;
    background-color: white;
    border-radius: 25px;
    width: 33%;
    float: right;
    margin-top: 11%;
    margin-right: 4%
}

 .bottom-nav-bar {
 	position: relative;
    float: right;
    bottom: -371px;
    z-index: 100;
 }








