<div class="buttons-bar">

	<div class="new-project-slider closed" id="new-project-slider">
		<input type="image" src= "/assets/newproject_button.png" id="js-newproject"></input> 
	</div>	

	<div class="slider" id="slider">
			<img src= "/assets/client_projects_button.png" id="js-client-projects-button">
	</div>	
</div>

<div class="newproject-form" >
	<p class="headline" style="font-family:'Caviar Dreams'">Create Your New Project</p>
		<form id="js-newproject-form" data-client="<%=@client.id%>">
			<input id="js-name" type="text" class="js-required" name="name" placeholder="Enter Name" style="font-family:'Caviar Dreams';"> 
			<br>
			<div id="js-dropdowns">
				<select id="js-one-dropdown" data-dropdown="0" class="js-required form-control" style="width:60%;font-family:'Caviar Dreams';">
					  <% @types.each do |type| %>
					  <option id="js-type" value="<%=type.id%>"> <%=type.name%> </option>
					  <% end %> 
				</select>
				
			</div>
			<p class="add-type" style="font-family:'Caviar Dreams'"> Add Type </p>

			<input id="js-description" type="text" class="js-required" style="font-family:'Caviar Dreams';" name="description" placeholder="Description"> 
			<br>
			<input id="js-due_date" type="date" class="js-required" name="due_date" style="font-family:'Caviar Dreams';" placeholder="Due Date">
			<br>

			<button id="js-submit" type="submit" style="font-family:'Caviar Dreams';" value="Submit"> Submit </button>
		</form> 
</div>

<div class="projects-slider closed" id="projects-slider" data-client="<%=@client.id%>"> 
	<div class="project-whiteDiv">
		<ul  class="clients-projects" style="font-family:'Caviar Dreams';">
		</ul>
	</div>
</div>

<div class="client-project-main-display-slider closed" id="client-project-main-display-slider">
	<div class="project-info">

	</div>
	
	<div class="imagesDiv">
		<div class="thumbnailGalleryDiv">
		</div>
	</div>

	<div class="commentsDiv">
	</div>
</div>

<div class="bottom-nav-bar">
	<input type="image" src= "/assets/logout_button.png" class="logout"> </input> 
</div>