<!DOCTYPE html>
<html>
  <head>
    <title>FrelansForDesigners</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>

      <div class = "container-fluid">
      <!-- Logo -->
        <div class="row padding-logo">
          <img class= "center-block" src = "/assets/frelans_logo.png" >
          <img class= "bar" src = "/assets/bar.png">
        </div>
      
      <!-- Display Board -->
        <div class="row board-container">
          <div class="col-sm-8 col-sm-offset-2 ">
              <img class= "display-board" src = "/assets/dashboard_display_board.png">
           </div>
        </div>


      </div>
      
      <!-- <div class = "display-board"> -->
     
  


    <%= yield %>


  <footer>
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-4 col-xs-6 column-bar">
          <div class="padding-image">
            <img class="logo img-responsive text-center" src="/assets/frelans_logo.png" alt="logo">
          </div>
            <p class="text-center">
                <font style="font-size: 12px; color: #666667"> Terms of Service, Privacy Policy </font>
              </p>
              <p class="text-center">
                <font style="font-size: 12px; color: #666667"> © 2016 All Rights Reserved. </font>
              </p>
        </div>     <!--End of 1st column-->
        <div class="col-sm-4 col-xs-6 column-bar">
          <h4 class="footer-widget-title"> RESOURCES </h4>
          <div class="menu-footer_menu-container">
                
              <p class="menu"> Home </p>
              <p class="menu"> About </p>
              <p class="menu"> FAQ </p>
              <p class="menu"> Terms of Service </p>
                        
          </div>
          
        </div>     <!--End of 2nd column-->
        <div class="col-sm-4 col-xs-6">
           <div class="text-44" class="widget footer-column-3 widget_text">
                      <h4 class="footer-widget-title"> LET'S SOCIALIZE </h4>
                      <div class="textwidget"> </div>
                    </div>
                    <p class="menu"> Instagram </p>
                    <p class="menu"> Twitter </p>
                    <p class="menu"> Support </p>
                    <p class="menu"> hello@frelans.co </p>
                  </div>
                </div>
          
        </div>     <!--End of 3rd column-->
      </div>
    </div>

  </footer>
  <!--   <div class="footer-inner clearfix">
      <div class="footer-top-holder">
        <div class="footer-top">
          <div class="container">
            <div class="container-inner">
              <div class="three-columns clearfix">
                <div class="three-columns-inner">
                  <div class="column" style="min-height: 234px;">
                    <div class="column-inner">
                      <div id="text-42" class="widget footer-column-1 widget_text">
                        <div class="textwidget">
                          <img class="logo" src="/assets/frelans_logo.png" alt="logo">
                          <p style="text-align: left;">
                            <font style="font-size: 12px; color: #666667"> Terms of Service, Privacy Policy </font>
                          </p>
                          <p style="text-align: left; margin-top: -10px;">
                            <font style="font-size: 12px; color: #666667"> © 2016 All Rights Reserved. </font>
                          </p>
                        </div>
                      </div>
                    </div>
                </div>

                <div class=" column" style="min-height: 234px;">
                  <div class="column-inner">
                    <div id="text-7" class="widget footer-column-2 widget_text">
                      <h4 class="footer-widget-title"> RESOURCES </h4>
                      <div class="textwidget"></div>
                    </div>
                    <div id="nav-menu-2" class="widget footer-column-2 widget_nav_menu">
                      <div class="menu-footer_menu-container">
                
                          <p class="menu"> Home </p>
                          <p class="menu"> About </p>
                          <p class="menu"> FAQ </p>
                          <p class="menu"> Terms of Service </p>
                        
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" column last" style="min-height: 234px; border: hidden;">
                  <div class="column-inner">
                    <div class="text-44" class="widget footer-column-3 widget_text">
                      <h4 class="footer-widget-title"> LET'S SOCIALIZE </h4>
                      <div class="textwidget"> </div>
                    </div>
                    <p class="menu"> Instagram </p>
                    <p class="menu"> Twitter </p>
                    <p class="menu"> Support </p>
                    <p class="menu"> hello@frelans.co </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer> -->
    




  </body>
</html>
